<a href="https://colab.research.google.com/github/vinceclarenceclaros/PLNG211-QC/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Accessing the elements in the array
animals = ["cat", "dog", "fish"]
print('The animals are:',animals)
print('The animal in the first list is', animals[0])

The animals are: ['cat', 'dog', 'fish']
The animal in the first list is cat

In [6]:
#Accessing the elements in the array
animals = ["cat", "dog", "fish"]
animals[0] = 'monkey'
print(animals)

['monkey', 'dog', 'fish']

In [7]:
#Length of the array
animals = ["cat", "dog", "fish"]
x = len(animals)
print(x)

3

In [8]:
#Looping Array Elements
animals = ["cat", "dog", "fish"]
for x in animals:
  print(x)

cat
dog
fish

In [13]:
#Adding elements in the last list of an array
animals = ["cat", "dog", "fish"]
animals.insert(1,'monkey')
print(animals)
#append
animals.append('bird')
print(animals)

['cat', 'monkey', 'dog', 'fish']
['cat', 'monkey', 'dog', 'fish', 'bird']

In [14]:
#Removing
animals.pop(3)
print(animals)

['cat', 'monkey', 'dog', 'bird']