<a href="https://colab.research.google.com/github/vinceclarenceclaros/PLNG211-QC/blob/main/Asynchronous_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for var in range(2,5+1):
  print(var)

In [ ]:
x = 0
while x < 5:
  for y in range (0,x):
    print(y, end='')
  x+=1  
  print()

In [ ]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList)

print(varList[5:])

print(varList[:-2])

print(varList[:-2])

print(varList[2:-2])

print(varList[2:8:2])

In [ ]:
var1, var2, var3 = "ABC", "DEF", "GFi"

print(var1)
print(var2)
print(var3)

a, b, c = 1 , 2 ,3

print(a)
print(b)
print(c)

Asynchronous Activity

In [ ]:
#Asynchronous Activity
Salary_rate = 600
Salary = Salary_rate * 15; #days
Taxable_amount = Salary * 0.3
Net_pay = Salary - Taxable_amount



print("Net Pay = ", Net_pay)

Net Pay =  6300.0