<a href="https://colab.research.google.com/github/vinceclarenceclaros/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#If Statement

a = 100
b =100

if a<b:
  print("a is less than b")

In [11]:
#Elif Statement

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

In [12]:
#Else Statement

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [15]:
#Short Hand If Statement

c = 5
d = 10

if c>d: print("c>d")

In [16]:
#Short Hand If Else Statement
print('c>d') if c>d else print('d>c')

d>c

In [19]:
#And Statement
if 10>5 and 8>4:
  print("both statements are true")
else:
  print("one of the statements if false /both statements are not true")

both statements are true

In [20]:
#Or Statement
if 5>10 or 8 >4:
  print('True')
else:
  print('False')

True

In [21]:
#Bitwise Operator ^ (xor)
e=4 #0100 binary
f=2 #0010 binary

e^f

6

In [23]:
#Nested If Statement

x = 39
if x > 10:
  print("number is above 10")
  if x > 20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("the number is above 50")
        else:
          print("the number is less than 50")
      else:
        print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is less than 40

In [26]:
#Application 1. Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.

age = int(input("Enter your age: "))
if age>=18:
  print("Qualified to vote")
else:
  print("Not qualified to vote")

Enter your age: 95
Qualified to vote

In [45]:
#Application 2. Write a program that determines if the input number is Positive, Negative, or Zero.
num = int(input("Enter number: "))
if num > 0:
  print("Number is positive")
elif num < 0:
  print("Number is negative")
else:
  print("Number is equal to zero")

Enter number: -2
Number is negative

In [28]:
#For Loop Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [31]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday

In [32]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [33]:
for x in "week":
  print(x)

w
e
e
k

In [34]:
#range () function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [38]:
#range () function
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [39]:
adjective =["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [40]:
i = 1 
while i < 6:
  print(i)
  i+=1    #i = i +1

1
2
3
4
5

In [41]:
i = 1 
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [42]:
# using while loop and break statement, the output is only 3
i = 1 
while i < 6:
  if i == 3:
    print(i)
    break
  i+=1

3