<a href="https://colab.research.google.com/github/vinceclarenceclaros/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
#This is an example of Python Indentation
if 5>2:
  print("5 is greater than 2")

Variable

In [9]:
x = 1
a,b,=0,-1
a=9
c = "sally"
c = "danny"
print(a)
print(c)
c = "Maria"
print(c)

9
danny
Maria

Casting

In [11]:
d = int(4)
print(d)
e = float(4)
print(e)

4
4.0

Type () function

In [13]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

Single Quote or Double Quote

In [15]:
f="Maria"
print(f)
g = 'Ana'
print(g)

Maria
Ana

Multiple Variables

In [16]:
x,y,z = 4,5,6
print(x)
print(y)
print(z)

4
5
6

Single Value to a Multiple Variables

In [17]:
x=y=z="Lilo"
print(x)
print(y)
print(z)

Lilo
Lilo
Lilo

Output Variable Using Print and +

In [20]:
s="Python is"
t="enjoying"
print("Python is" + " "+t)


print(s+' '+t)

Python is enjoying
Python is enjoying

Arithmetic

In [23]:
x = 1 
y = 2
sum = x+y
print(x)
print(y)
print(sum)

#modulo division
l = 4%2
print("4%2= ",l)

#floor division

k=4//2
print("4//2=",k)

1
2
3
4%2=  0
4//2= 2

Assignment Operator

In [24]:
x = 1 
x+=1
print(x)

2

Logical Operator

In [25]:
q = 1
r = 4 
q>r and r==r

False